.phone{
 padding-top: 70px;
 height: 650px;
 margin: 10px;
 float: left;
    
}
body{
    background-color: #fafafa!important;
    
}
.container{
    margin-top:20px;
}
.right-column{
    background: #fff;
    border: 1px solid #e6e6e6;
    width: 350px;
    margin: 10px;
    padding: 40px;
    float: right;

}
.instagram-logo{
    margin-right:55px ;
}
.info{
    font-weight:600px;
    line-height: 20px;
    margin: 0 40px 10px;
    font-size:18px;
    color: #999;
    text-align: center;
    font-family: roboto;
}
button img{
    height: 18px !important;
    padding: 0 8px 2px;
}
button{
    background-color:#1a8cff;
    border-color:#1a8cff;
    color:white;
}


.or{
    font-size: 13px!important;
    color: #999;
    font-weight: 600;
    text-align:center;
}
.or: :before{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width:110px;
    position: relative;
    top: 11px;
    
}
.or: :after{
    content: '';
    background: #efefef;
    display: block;
    height: 2px;
    width:110px;
    position: relative;
    bottom: 10px;
    left: 160px;
    
}
.form-group{
  margin-bottom:6px !important;  
}
.form-control{
    background: #fafafa!important;
    border:1px solid #efefef!important;
    font-size:12px!important;
}
::placeholder{
    color: #999!important;
    
 
}











